body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7c7777;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 15px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.search-bar {
  background-color: #888686;
  padding: 10px;
  text-align: center;
}

.search-bar * {
  margin-bottom: 5px;
}

.btn-voltar {
  display: inline-block;
  padding: 8px 16px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 40px;
}

h1 {
  margin: 0;
}

input[type="text"] {
  padding: 8px;
  margin: 10px;
  width: 80%; /* Adicionei uma largura para melhor ajuste */
}

button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
}

#menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px; /* Adicionei um espaçamento interno para melhorar a aparência */
}

.menuItem {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.menuItem img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.price {
  font-weight: bold;
  color: #e44d26;
}

.description {
  display: none;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 600px) {
  body {
      font-size: 14px;
      margin: 0 10px;
      padding: 0 10px;
  }

  .search-bar input[type="text"] {
      width: 100%; /* Ocupa toda a largura em telas pequenas */
  }

  #menuItems {
      padding: 10px; /* Reduzindo o espaçamento interno para telas pequenas */
  }
}

/* Estilos para telas médias */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      margin: 0 20px; /* Margens laterais médias para telas médias */
      padding: 0 20px; /* Padding médio para telas médias */
  }
}

/* Estilos para telas grandes */
@media screen and (min-width: 1025px) {
  body {
      margin: 0 50px; /* Margens laterais maiores para telas grandes */
      padding: 0 50px; /* Padding maior para telas grandes */
  }
}
