body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7c7777;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 15px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.search-bar {
  background-color: #888686;
  padding: 10px;
  text-align: center;
}

.search-bar * {
  margin-bottom: 5px;
}

.btn-voltar {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  right: 20px;
}

h1 {
  margin: 0;
}

input[type="text"] {
  padding: 8px;
  margin: 10px;
  width: 80%;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
}

#menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.menuItem {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #333;
  padding: 10px;
  text-align: center;
}

.menuItem img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.menuItem h2 {
  margin-top: 10px;
  font-size: 1em; /* Ajuste de tamanho do texto para telas menores */
}

.price {
  font-weight: bold;
  color: #09ee6c;
}

.category {
  font-style: italic;
  font-size: 0.9em;
  color: black;
  margin-top: 5px;
  font-size: 1.2em; /* Ajuste de tamanho do texto para telas menores */
}

.description {
  display: none;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em; /* Ajuste de tamanho do texto para telas menores */
}



/* Estilos para telas pequenas */
@media screen and (max-width: 600px) {
  body {
      font-size: 14px;
      margin: 0 10px;
      padding: 0 10px;
  }

  .search-bar input[type="text"] {
      width: 100%;
  }

  #menuItems {
      padding: 10px;
  }
}

/* Estilos para telas médias */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      margin: 0 20px;
      padding: 0 20px;
  }
}

/* Estilos para telas grandes */
@media screen and (min-width: 1025px) {
  body {
      margin: 0 50px;
      padding: 0 50px;
  }
}
